@import url("variables.css");
.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.card {
  width: 36rem;
  margin: 5rem;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--tertiary);
}
.card-pic {
  width: 100%;
  height: 33rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.75rem;
}
.card-title {
  text-align: center;
  font-weight: 900;
  padding-bottom: 0.75rem;
}
.caption {
  text-align: center;
  font-weight: 300;
}
.price {
  color: #000000;
  font-weight: 150;
  font-size: var(--h4);
}
.card-text {
  color: var(--black);
  padding: 1rem;
}
body {
  background-color: var(--secondary);
}
.buttons {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.buttons :hover {
  transform: scale(0.8);
  outline: 0.5rem solid rgb(255, 255, 255);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
  ul.menu {
    display: none !important;
  }
}
ul.menu {
  padding-top: 1.3rem;
  padding-bottom: 1rem;
}
.main-title {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--five);
  padding: 3rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-size: 45rem 30rem;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn:hover {
  transform: scale(1.1);
  outline: 0.5rem solid rgb(255, 255, 255);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}