html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
:root{
  --light-blue:#2998ff;

  
}
body {
    background-color: purple;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin: 2rem;
  }