@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap%22);
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  justify-content: center;
}
body {
  font-family: "Bitter", serif;
}
:root {
  --almond: #f1dac4;
  --gray: #a69cac;
  --navy: #474973;
  --blue: #161b33;
  --black: #0d0c1d;
  --green: #1e3231;
  --blackcoral: #485665;
  --lilac: #d0a5c0;
  --purple: #8e7c93;
  --pink: #f6c0d0;

  --primary: var(--almond);
  --secondary: var(--gray);

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.cool {
  --primary: var(--almond);
  --secondary: var(--gray);
  --tertiary: var(--navy);
  --four: var(--blue);
  --five: var(--black);
}
.warm {
  --secondary: var(--green);
  --five: var(--blackcoral);
  --tertiary: var(--purple);
  --four: var(--lilac);
  --primary: var(--pink);
}

h1 {
  font-size: var(--h1);
  background-color: var(--secondary);
  color: var(--primary);
}
h2 {
  font-size: var(--h2);
  color: var(--primary);
}

h3 {
  font-size: var(--h3);
  color: var(--five);
}

h4 {
  font-size: var(--h4);
  color: var(--secondary);
}

h5 {
  font-size: var(--h5);
}
p {
  font-size: var(--h5);
}
button {
  font-size: var(--h3);
  color: var(--primary);
  background-color: var(--tertiary);
  font-weight: bold;
  border-radius: 1.5rem;
  width: 30rem;
  padding: 1.5rem;
}
a {
  font-size: var(--h5);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 1.5rem;
  transition: all 0.1s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}