@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap%22%22");
html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  justify-content: center;
}
body {
  font-family: "Bitter", serif;
}
:root {
  --ivory: #ffe7d0;
  --grey: #aaaaaa;
  --oxford: #18396b;
  --rich: #0c1821;
  --black: #000000;
  --jet: #353238;
  --red: #92140c;
  --copper: #be7c4d;
  --cedar: #be5a38;
  --silver: #c1b4ae;

  --primary: var(--ivory);
  --secondary: var(--grey);

  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.cool {
  --primary: var(--ivory);
  --secondary: var(--grey);
  --tertiary: var(--oxford);
  --four: var(--rich);
  --five: var(--black);
}
.warm {
  --secondary: var(--jet);
  --five: var(--red);
  --tertiary: var(--copper);
  --four: var(--cedar);
  --primary: var(--silver);
}

h1 {
  font-size: var(--h1);
  background-color: var(--secondary);
  color: var(--primary);
}
h2 {
  font-size: var(--h2);
  color: var(--primary);
}

h3 {
  font-size: var(--h3);
  color: var(--five);
}

h4 {
  font-size: var(--h4);
  color: var(--secondary);
}

h5 {
  font-size: var(--h5);
}
p {
  font-size: var(--h5);
}
button {
  font-size: var(--h3);
  color: var(--primary);
  background-color: var(--tertiary);
  font-weight: bold;
  border-radius: 1.5rem;
  width: 30rem;
  padding: 1.5rem;
}
a {
  font-size: var(--h5);
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 1.5rem;
  transition: all 0.1s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(16, 16, 16, 0.2);
}